@import '../../styles/variables.scss';

.logo {
  cursor: pointer;
  font-family: $font-primary;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  text-align: left;
  opacity: .9;
  text-transform: uppercase;
  z-index: 2;

  @media (max-width: 768px) {
    width: 100%;
    padding: 20px 20px 5px;
    text-align: center;
  }
}