.navContainer {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transition: all 0.5s;
  transition-delay: 0.3s;
  opacity: 0;
  transform: translateY(8px);
  z-index: -2;

  &.show {
    opacity: 1;
    transform: translateY(0);
    z-index: 2;
  }

  .navLinksContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .navLink {
      &:first-child {
        padding-top: 12px;
      }

      .navButton {
        padding: 12px 24px;
        font-size: 20px;
  
        &:hover {
          opacity: 1;
        }
  
        &:active {
          opacity: .4;
        }
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
    background: linear-gradient(0deg, rgba(10,99,154,0) 0%, rgba(21,2,28,1) 80%);

    &.dark {
      background: linear-gradient(0deg, rgba(10,99,154,0) 0%, rgba(21,2,28,1) 80%);
    }

    &.light {
      background: linear-gradient(0deg, #f5aab700 0%, #DCCDED 80%);
    }

    .navLinksContainer {
      flex-direction: row;

      .navLink {
        &:first-child {
          padding-top: 0;
        }

        .navButton {
          padding: 5px 12px 12px;
        }
      }
    }
  }
}