@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100svh;
  padding: 2rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  text-align: center;
  font-family: $font-secondary;
  font-size: clamp(20px, 1vw + 1rem, 36px);
  color: white;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  cursor: default;
  font-family: $font-primary;
  font-weight: 300;
  font-size: clamp(50px, 8vw + 1rem, 140px);
  line-height: 1;
  color: rgba(255, 255, 255, 0.75);
  margin: 0 0 24px;
}

h2 {
  cursor: default;
  font-family: $font-primary;
  font-weight: 300;
  font-size: clamp(42px, 7vw + 1rem, 120px);
  line-height: 1;
  color: rgba(255, 255, 255, 0.75);
  margin: 0 0 24px;
}

p {
  cursor: default;
  text-align: center;
  font-family: $font-secondary;
  font-size: clamp(20px, 1vw + 1rem, 36px);
  color: white;
  margin: 0;
}

button {
  cursor: pointer;
  padding: 16px 24px;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  font-family: $font-primary;
  font-size: 24px;
  line-height: 1;
  transition: ease-in-out all 0.3s;

  &:hover {
    color: rgba(255, 255, 255, 0.9);
  }
}

main {
  min-height: 100svh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@-moz-document url-prefix() {
  main {
    min-height: 100vh;
  }

  section {
    min-height: 100vh;
  }
}
